body, html {
  background-color: #302030;
  color: #FFFFFF;
  display: grid;
  font-size: 18px;
  height: 95%;
}

.container {
  margin: auto;
}

b {
  text-decoration: underline;
}

a {
  color: #A0A0A0;
  text-decoration: none;
}

a:hover {
  color: #505050;
}
